<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
    <display-name>profile</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>SongServlet</servlet-name>
        <servlet-class>com.edu.servlet.SongServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SongServlet</servlet-name>
        <url-pattern>/SongServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.edu.servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClicksServlet</servlet-name>
        <servlet-class>com.edu.servlet.ClicksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClicksServlet</servlet-name>
        <url-pattern>/ClicksServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManagerServlet</servlet-name>
        <servlet-class>com.edu.servlet.ManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerServlet</servlet-name>
        <url-pattern>/ManagerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SongTypeServlet</servlet-name>
        <servlet-class>com.edu.servlet.SongTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SongTypeServlet</servlet-name>
        <url-pattern>/SongTypeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VipServlet</servlet-name>
        <servlet-class>com.edu.servlet.VipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VipServlet</servlet-name>
        <url-pattern>/VipServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.edu.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>


</web-app>